<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="barra-navegacion">
  <nav>
    <a th:href="@{/}">Inicio</a>
    <a th:href="@{/carta}" class="active">Carta</a>
    <a th:href="@{/contacto}">Contactos</a>
    <a th:href="@{/delivery}">¡Pide Online!</a>

    <!-- Verificación mejorada -->
    <a th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}">Cerrar Sesión</a>
    <a th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}">Iniciar Sesión</a>
  </nav>

  <div th:if="${#authentication}">
    <p>Usuario: [[${#authentication.name}]]</p>
    <p>Principal: [[${#authentication.principal}]]</p>
    <p>Autenticado: [[${#authorization.expression('isAuthenticated()')}]]</p>
  </div>
</div>
</body>
</html>
